<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Question List</title>
</head>
<body>

<h2>Question List</h2>

<button onclick="getQuestions()">Get Questions</button>

<div id="questionContainer">
</div>

<script>
    function getQuestions() {
        var examId = 1; // Replace with the appropriate examId
        fetch("/question-list/" + examId)
            .then(response => response.json())
            .then(data => {
            console.log(data);
            var questionContainer = document.getElementById("questionContainer");
            questionContainer.innerHTML = `
            <p>${data.questionText}</p>
            <p>${data.correctOption}</p>

            `
            ; // Clear existing content

            data.forEach(question => {
                var paragraph = document.createElement("p");
                paragraph.textContent = question.questionText;
                questionContainer.appendChild(paragraph);
            });
        })
            .catch(error => console.error('Error:'+ error));
    }
</script>

</body>
</html>
